/* MAIN STYLES */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;	
    text-align: center;
    background-image: linear-gradient(
            0deg,
            #0F0  0%,
            #DEE2E6 25%,
            #E9ECEF 50%,
            #FFF 100%
        );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main {
    border: 7px solid #0F0;
    margin: 1% 20%;
}
h1 {
    margin: 7px auto 30px auto;
}
.generate-box {
    margin: 3% auto;
}
p {
    color: red;
}
.green {
    color: #00ff00;

}
.white {
    color: #fff;
}
input {
    width: 30%;
    height: 4vh;
    border-color: #00ff00;
    animation: myAnim 3s ease 0s 1 normal forwards;
}
@keyframes myAnim {
    0% {
        opacity: 0;
        transform: rotateX(-100deg);
        transform-origin: top;
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
        transform-origin: top;
    }
}

button {
    background-color: #00ff00;
    height: 4.8vh;
    border: none;
    animation: myAnim 2s ease 0s 1 normal forwards;
}
.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto auto auto;
    max-width: 80%;
    justify-content: center;
    font-size: 1.5em;
}
.container-animation {
    animation: containerAnim 3s ease 0s 1 normal forwards;
}
@keyframes containerAnim {
    0% {
        opacity: 0;
        transform: rotateX(-150deg);
        transform-origin: top;
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
        transform-origin: top;
    }
}

/* RESPONSIVENESS */

@media (min-width: 1200px) {
    h1 {
        font-size: 2.3em;
    }
}

@media (max-width: 1200px) {
    h1 {
        font-size: 2.1em;
    }
    .container {
        font-size: 1.4em;
        margin-top: 5%;
        max-width: 90%;
    }
}

@media  (max-width: 1000px) {
    main {
        margin: 1% 15%;
    }
    h1 {
        font-size: 2em;
    }
    .container {
        font-size: 1.3em;
    }
}

@media (max-width: 600px) {
    body {
        background-image: linear-gradient(
            0deg,
            #212529 0%,
            #343A40 25%,
            #495057 50%,
            #212121 100%
        );
    }
    main {
        margin: 2% 6%;
    }
    h1 {
        max-width: 80%;
        margin-bottom: 5%;
        font-size: 1.7em;
    }
    .container {
        font-size: 1.2em;
    }
}

@media (max-width: 450px) {
    h1 {
        max-width: 200px;
        font-size: 1.5em;
    }
    
    .container {
        font-size: 1.1em;
    }
}

@media (max-width: 300px) {
    h1 {
        font-size: 1.1em;
        margin-bottom: 2px;
        margin-top: 5px;
    }
    .generate-box {
        margin: 0 auto 15px auto;
        height: 10vh;
    }
    button {
        display: block;
        margin: 2% auto;
        padding: 5%;
        line-height: 5%
    }
    .container {
        flex-direction: column;
        align-items: center;
    }	
}